[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rccola"]
	path = rccola
	url = https://github.com/spgarbet/rccola
	shallow = true
	registered = true
[submodule "tangram"]
	path = tangram
	url = https://github.com/spgarbet/tangram
	shallow = true
	registered = true
